@import "tailwindcss";
@plugin "@tailwindcss/typography";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.prose p {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.prose ul > li,
.prose ol > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose ul {
  padding-left: 2rem; 
  list-style-position: outside; 
}

.prose ul > li {
  padding-left: 0.25rem; 
}